.App {
  text-align: center;
  background-color: 	rgb(249, 246, 213);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  .text-wrapper {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* #monitor{
  animation: text-wrapper 1s ease-in-out forwards;
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.navbar{
  position: absolute;
  top: 2vh;
  right: 10vw;
}

.nav-list{
  display: flex;
  flex-direction: row;
}

.facebook-logo{
  padding: 5px;
  width: 8vw;
}


/* titling */
.text-wrapper{
  top: 50px;
  pointer-events: none;
  animation: text-wrapper-shift 1s ease-in-out forwards;
}

@keyframes text-wrapper-shift {
  from{
    transform: translateY(-30px);
    opacity: 0;
  }
  to{
    transform: translateY(-0);
    opacity: 1;
  }
}

.djwiz{
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 10vh;
}

.tonyjones{
  color: black;
}
.text-info{
  /* color : red; */
}

.smaller-text{
  /* padding: 10px; */
}

.browser-pic{
  display: flex;
  flex-direction: row;
}

.phone-number{
  color: rgb(74, 74, 74)
}

.tony-pic-browser{
  height: 55vh;
  animation: tony-pic-fadeIn 3s ease-in-out forwards;
  padding: 2vw;
}
.tony-pic-mobile{
  height: 40vh;
  animation: tony-pic-fadeIn 3s ease-in-out forwards;
}

@keyframes tony-pic-fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
